@import 'color';
@import 'shadow';
@import 'table';
@import 'fonts/inter';
@import 'fonts/robotomono';
@import 'fonts/fontawesome';

@import 'orchestrator';
@import 'monitor';
@import 'event';
@import 'iec104';
@import 'modbus';


$log-size: 10rem;
$resizer-size: 0.4rem;

html, body, button, input, select {
    font-family: 'Inter';
    font-size: 12pt;
}

html, body {
    margin: 0;
    user-select: none;
    height: 100%;
    overflow: hidden;
}

#main {
    height: 100%;
    background-color: $color-grey-200;
    display: grid;
    grid-template-columns: max-content $resizer-size 1fr;
    grid-template-rows: auto 1fr $resizer-size auto;
    grid-template-areas: 'globalHeader deviceHeader deviceHeader'
                         'sidebar sidebarResizer page'
                         'logResizer logResizer logResizer'
                         'log log log';

    & > .header {
        padding: 0.2rem;
        background-color: $color-grey-700;
        color: $color-grey-100;

        & > button {
            &:not(:last-child) {
                margin-right: 0.2rem;
            }
        }

        &.global {
            grid-area: globalHeader;
        }

        &.device {
            grid-area: deviceHeader;

            & > * {
                &:not(button) {
                    margin-right: 1rem;
                }
            }
        }
    }

    & > .sidebar {
        grid-area: sidebar;
        background-color: $color-grey-100;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        min-width: 10rem;

        & > .devices {
            flex-grow: 1;
            overflow: auto;

            & > .device {
                padding: 0.5rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &:hover, &.selected {
                    background-color: $color-grey-300;
                }

                & > .status {
                    margin-right: 0.5rem;

                    &.stopped {
                        color: red;
                    }

                    &.starting, &.stopping {
                        color: yellow;
                    }

                    &.started {
                        color: green;
                    }
                }

                & > .type {
                    color: $color-grey-600;
                }
            }
        }

        & > .add {
            margin: 0.5rem;
        }
    }

    & > .sidebar-resizer {
        @include shadow-2dp;
        grid-area: sidebarResizer;
        cursor: ew-resize;
        background-color: $color-grey-400;
    }

    & > .page {
        grid-area: page;
        overflow: auto;
    }

    & > .log-resizer {
        @include shadow-2dp;
        grid-area: logResizer;
        cursor: ns-resize;
        background-color: $color-grey-400;
        z-index: 1;
    }

    & > .log {
        @include shadow-4dp;
        grid-area: log;
        border-top: 1px solid $color-grey-400;
        background-color: $color-grey-100;
        overflow: auto;
        height: $log-size;

        & > table {
            @extend %table;

            .col-time {
                width: 15rem;
                text-align: center;
            }

            .col-message {
                text-align: left;
            }

            td.col-time {
                font-family: 'RobotoMono';
                font-size: 0.9rem;
            }
        }
    }

    & > .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        & > .dialog {
            @include shadow-4dp;
            border: 1px solid $color-grey-500;
            border-radius: 0.2rem;
            background-color: $color-grey-100;
            padding: 0.5rem;

            &.add {
                display: flex;
                flex-direction: column;

                & > .device {
                    padding: 0.5rem;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    .icon {
                        width: 32px;
                        margin-right: 0.5rem;
                    }

                    &:hover {
                        background-color: $color-grey-300;
                    }
                }
            }

            &.settings {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 0.5rem;
                align-items: center;

                & > .title {
                    grid-column: span 2;
                    background: $color-grey-700;
                    color: $color-grey-100;
                    padding: 0.2rem;
                    font-weight: 600;
                }

                & > .label {
                    justify-self: end;
                }

                & > .note {
                    grid-column: span 2;
                    color: $color-grey-700;
                    justify-self: end;
                }
            }
        }
    }
}


